/*Reseteo de CSS*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 101%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

strong {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  max-width: 100%; }

/*INDEX HTML*/
/*tipografia de la pagina*/
html {
  font-family: 'Inter', sans-serif !important; }

/*Barra de navegacion*/
.navbar {
  background-color: #1a1a1a;
  padding: 50px, 30px; }
  .navbar a {
    color: white; }
  .navbar a:hover {
    text-decoration: underline; }

/*Fondos de secciones index*/
.section-1 {
  height: 100vh;
  background-image: url(../../images/fondovert.jpeg);
  background-size: auto;
  background-attachment: fixed; }

.section-2 {
  height: 75vh;
  background-color: #ffffff;
  background-attachment: fixed;
  background-size: auto; }

.section-3 {
  height: 100vh;
  background-image: url(../../images/fondovert3.jpeg);
  background-attachment: fixed;
  background-size: auto; }

.section-4 {
  height: 100vh;
  background-color: grey;
  background-size: auto;
  background-attachment: fixed; }

.blank {
  height: 100vh;
  background-color: #ffffff;
  background-attachment: fixed;
  background-size: auto; }

/*Texto y Boton index*/
.center-text {
  color: white; }
  .center-text h1 {
    font-size: 50px;
    font-weight: bolder; }

.button {
  background-color: #283038;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px; }

.button:hover {
  background-color: #e2e416; }

.index-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  row-gap: 50px; }

/*Formulario de Contacto*/
fieldset {
  border: 0;
  margin: 50px; }
  fieldset h2 {
    font-size: 48px;
    font-weight: bolder;
    color: black; }

.login h2 {
  color: white; }

textarea {
  resize: none;
  font-family: sans-serif;
  text-indent: 10px;
  text-align: justify;
  margin-bottom: 10px; }

/*Diseno de recuadros del login*/
.input {
  border: none;
  padding: 15px 25px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px; }

.input-area {
  padding: 15px 25px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px; }

/*Flex Contacto final de pagina*/
.contactoFlex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column; }

#formulario {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  align-items: center; }

.mapaHtml {
  display: none; }

/*NOSOTROS HTML*/
.coaches-flex {
  display: flex;
  flex-direction: column;
  text-align: justify;
  row-gap: 25px; }

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: justify;
  row-gap: 50px; }

/*Footer*/
a {
  color: inherit; }

footer {
  background-color: #f2f2f2;
  padding: 5px 30px 5px 30px; }

.sitemap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 20px; }

.footer-column {
  display: flex;
  flex-direction: column;
  row-gap: 10px; }
  .footer-column ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    row-gap: 10px; }

.footer-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.footer-policy {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: center; }

.bordesRedondeados {
  border-radius: 15px; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 50px;
  align-items: center; }
  .grid-container .grid-item {
    display: grid;
    grid-row-gap: 10px; }
  .grid-container p {
    text-align: justify; }

.historia-flex {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  text-align: justify;
  justify-content: space-evenly; }
  .historia-flex div {
    row-gap: 10px; }
  @media only screen and (min-width: 1024px) {
    .historia-flex {
      flex-direction: row; } }

.padding {
  padding: 5px 25px 5px 25px; }

hr {
  border-top: 10px solid #ccc;
  width: 50px; }

.left {
  align-items: flex-start;
  justify-content: flex-start; }

.subtitle {
  display: flex;
  font-size: 30px;
  justify-content: center; }

.preset90 {
  height: 90vh;
  background-color: #ffffff;
  background-size: auto;
  overflow: auto; }

.preset75 {
  height: 75vh;
  background-color: #ffffff;
  background-size: auto;
  overflow: auto; }

.preset50 {
  height: 50vh;
  background-color: #ffffff;
  background-size: auto;
  overflow: auto; }

@media only screen and (min-width: 1824px) {
  nav {
    background-color: red;
    height: 130px; }
    nav img {
      margin-left: 10vh; }
    nav .navbar-nav {
      margin-left: 75vh; }
  .section-1 {
    background-image: url(../../images/fondo.jpg);
    background-size: cover; }
  .section-3 {
    background-image: url(../../images/fondovert.jpeg);
    background-size: contain; }
  .contactoFlex {
    flex-direction: row; }
  .mapaHtml {
    display: block; }
  .coaches-flex {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 50px; }
    .coaches-flex .flexcontainer {
      flex: 100%; }
  .sitemap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  .margin-wide {
    transition: margin 0.2s linear;
    margin-left: 20vw;
    margin-right: 20vw; } }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  nav {
    background-color: red;
    height: 130px; }
    nav img {
      margin-left: 10vh; }
    nav .navbar-nav {
      margin-left: 75vh; }
  .margin-lg {
    transition: margin 0.2s linear;
    margin-left: 5vw;
    margin-right: 5vw; } }

/* iPads (landscape) ----------- */
@media only screen and (min-width: 1024px) and (max-width: 1223px) {
  nav {
    background-color: red;
    height: 130px; }
    nav img {
      margin-left: 10vh; }
    nav .navbar-nav {
      margin-left: 50vh; }
  .margin-md {
    transition: margin 0.2s linear;
    margin-left: 3vw;
    margin-right: 3vw; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .margin-sm {
    transition: margin 0.2s linear;
    margin-left: 2vw;
    margin-right: 2vw; } }

@media only screen and (max-width: 479px) {
  .margin-xs {
    transition: margin 0.2s linear;
    margin-left: 25px;
    margin-right: 25px; } }
