/*Reseteo de CSS*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 101%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

strong {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  max-width: 100%; }

/*INDEX HTML*/
/*tipografia de la pagina*/
html {
  font-family: 'Inter', sans-serif !important; }

/*Barra de navegacion*/
.navbar {
  height: 60px;
  background-color: #1a1a1a; }
  .navbar a {
    color: white; }
  .navbar a:hover {
    text-decoration: underline; }

/*Fondos de secciones index*/
.section-1 {
  height: 100vh;
  background-image: url(../../images/fondovert.jpeg);
  background-size: auto;
  background-attachment: fixed; }

.section-2 {
  height: 75vh;
  background-color: #ffffff;
  background-attachment: fixed;
  background-size: auto; }

.section-3 {
  height: 100vh;
  background-image: url(../../images/fondovert3.jpeg);
  background-attachment: fixed;
  background-size: auto; }

.section-4 {
  height: 100vh;
  background-color: grey;
  background-size: auto;
  background-attachment: fixed; }

.section-blank {
  background-color: #ffffff;
  background-attachment: fixed;
  background-size: auto; }

/*Texto y Boton index*/
.center-text {
  color: white; }
  .center-text h1 {
    font-size: 50px;
    font-weight: bolder; }

.button {
  background-color: #283038;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px; }

.button:hover {
  background-color: #e2e416; }

.index-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  row-gap: 50px; }

/*Formulario de Contacto*/
fieldset {
  border: 0;
  margin: 50px; }
  fieldset h2 {
    font-size: 48px;
    font-weight: bolder;
    color: black; }

.login h2 {
  color: white; }

textarea {
  resize: none;
  font-family: sans-serif;
  text-indent: 10px;
  text-align: justify;
  margin-bottom: 10px; }

/*Diseno de recuadros del login*/
.input {
  border: none;
  padding: 15px 25px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px; }

.input-area {
  padding: 15px 25px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px; }

/*Flex Contacto final de pagina*/
.contactoFlex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column; }

#formulario {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  align-items: center; }

.mapaHtml {
  display: none; }

/*NOSOTROS HTML*/
.nosotrosFlex {
  display: flex;
  flex-direction: column; }
  .nosotrosFlex .flexcontainer {
    text-align: justify; }

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: justify;
  row-gap: 50px; }

/*Footer*/
a {
  color: inherit; }

footer {
  background-color: #f2f2f2; }

.sitemap {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 20px;
  padding-left: 5px; }

.footer-column {
  display: flex;
  flex-direction: column;
  row-gap: 10px; }
  .footer-column ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    row-gap: 10px; }

.footer-end {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.footer-policy {
  padding: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: center; }

.bordesRedondeados {
  border-radius: 15px; }

@media only screen and (min-width: 1024px) {
  .navbar-nav {
    padding-left: 200px; }
  .section-1 {
    background-image: url(../../images/fondo.jpg);
    background-size: cover; }
  .section-3 {
    background-image: url(../../images/fondo2.jpg);
    background-size: cover; }
  .contactoFlex {
    flex-direction: row; }
  .mapaHtml {
    display: block; }
  .nosotrosFlex {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 50px; }
    .nosotrosFlex .flexcontainer {
      flex: 100%; }
  .sitemap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; } }

.grid-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-row-gap: 50px;
  grid-column-gap: 100px;
  justify-content: center;
  padding-left: 150px;
  padding-right: 150px; }
  .grid-container .grid-item {
    display: grid;
    grid-gap: 10px;
    text-align: justify; }

/*.box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 200px;
  padding-right: 200px;
  column-gap: 10px;
  .gallery {
    padding: 15px;
  }*/
